NVorbis.*
EditorUserData.xml
OpenTK.GLControl.*
OpenAL32.*
OpenTK.*
FarseerDuality.*
Microsoft.Web.XmlTransform.*
FarseerDuality.*
PopupControl.*
WeifenLuo.WinFormsUI.Docking.*
logfile*.*
perflog*.*
Aga.Controls.*
Duality.*
AdamsLair.WinForms.*
DualityLauncher.*
DualityUpdater.*
DualityPrimitives.*
DDoc.chm
DesignTimeData.dat
DualityEditor.pdb
DualityEditor.xml
Plugins/*/Starnobound*.dll
Plugins/*/Starnobound*.deps.json